* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.col-md-8 {
  padding-right: 0;
}
.col-md-4 {
  padding-right: 0;
}

.login-page{
  width: 100%;
 
}

.login-page .row{
  margin-right: 0;
  margin-left: 0;
  height: 100vh;
}

.left-side .wrap-content {
  margin: 200px 100px;
  text-align: left;
  color: white;
}

h1.login-page-title {
  font-size: 24px;
  font-weight: 700;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  padding-top: 20px;
}

/* CSS Login form */

/* Login form */

.login-form {
  margin-top: 200px;
}

.input-field {
  width: 80%;
  margin: auto;
}

h1.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.input-field input {
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid gray;
}

.bottom-login {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.check-field {
  width: 50%;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.check-field label {
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 16px;
}

button.sign-up {
  border: none;
  background-color: white;
  font-size: 16px;
  color: blue;
  padding-right: 10px;
  text-decoration: underline;
}

button.sign-in {
  width: 120px;
  display: block;
  margin: auto;
  text-align: center;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #10d210cf;
  color: black;
  border: none;
  font-size: 16px;
}

button.sign-in:hover {
  cursor: pointer;
  background-color: springgreen;
}

hr{
  width: 60%;
  margin: auto;
}


@media screen and (max-width: 767px) {
  .left-side .wrap-content {
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .right-side{
    margin-bottom: 100px;
  }
  .login-form {
    margin-top: 50px;
  }
  
}
