a:hover{
    text-decoration: none;
}

.loading-img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navbar-collapse{
    margin-top: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    border-bottom: 1px solid black;
    font-weight: 700;
    margin-bottom: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link.current-btn {
    color: #5958d6;
   
}
.form-inline {
    flex-flow: row nowrap;
    margin-bottom: 10px;
}
.form-inline input{
    margin-right: 10px;
}


.user-info{
    display: flex;
    align-items: center;
}

.user-info .nav-link{
    padding-left: 0;
    padding-right: 0;
}

.user-avatar{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

.username{
    font-size: 22px;
    font-weight: bold;
    color: white;
}


.dropdown-menu{
    min-width: 9rem;
}
.dropdown-menu.show {
    top: 50px;
}
.logout-btn{
    color: white;
    font-size: 16px;
    background-color: #e06a6a;
    width: 150px;
    height: 32px;
    border: none;
}

.logout-btn:hover{
    cursor: pointer;
    background-color: #f54b4b;
}
#btn-2{
    position: relative;
}
.cart-count{
    position: absolute;
    top: 0px;
    left: 32px;
    background-color: #e06a6a;
    width: 20px;
    height: 20px;
    font-size: 10px;
    padding-top: 3px;
    border-radius: 50%;
    z-index: 1;
    color: white;
    text-align: center;
}

@media screen and (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: none;
        margin-bottom: 0;
    }
    .form-inline{
        margin-left: 10px;
        margin-bottom: 0;
    }
    .navbar-collapse{
        margin-top: 0px;
    }

    .cart-count{
        top: -2px;
        left: 50px;
    }
}